#edge/.env.example
CAMERA_ID=<uuid-of-camera-registered-in-central>
RTSP_URL=rtsp://admin:password@192.168.1.100:554/stream1
CAMERA_ID=fed18753-53ab-4760-b7e4-2b28c45bb6cd
# RTSP_URL=.\app\input\ch23_main_v1.mp4
RTSP_URL=./app/input/ch1_main_v2.mp4
FRAME_STRIDE=2
MIN_DWELL_SECONDS=2.0
TRACK_TTL_SECONDS=5.0
MODEL_PATH=.\app\models\yolo26n_coco_local_1.onnx
KAFKA_BROKER=localhost:9095
CENTRAL_API_URL=http://10.31.2.94:8080
# CENTRAL_API_URL=http://localhost:8080
HTTP_PROXY=http://userid:password@10.31.31.10:5128
HTTPS_PROXY=http://userid:password@10.31.31.10:5128
NO_PROXY=localhost,127.0.0.1,10.31.2.94